.addnote {
  margin: 2rem auto;
  padding: 1rem;
  width: 100%;
  max-width: 40rem;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
  background-color: rgb(193, 233, 249);
  border: 1px solid rgb(3, 70, 112);
}

.addnote button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: rgb(6, 108, 172);
  background-color: rgb(6, 108, 172);
  color: white;
  border-radius: 12px;
  margin: 1rem;
}
.addnote button:hover,
.addnote button:active {
  border: rgb(4, 78, 123);
  background-color: rgb(4, 78, 123);
}

@media (min-width: 768px) {
    .addnote {
      align-items: center;
    }
  }
